flow.json
[{"id":"fab9f925.9f0598","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"52ba40f2.dd0d9","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"ALLARME Intrusione Porte o Finestre\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1920,"y":400,"wires":[[]]},{"id":"363fad6b.ed8752","type":"server-state-changed","z":"fab9f925.9f0598","name":"Finestra soggiorno","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d0002a1664b_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":240,"wires":[["fccda9bc.439bf8"],[]]},{"id":"a3525f90.0bae5","type":"server-state-changed","z":"fab9f925.9f0598","name":"Porta finestra ufficio","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d000256099c_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":300,"wires":[["fccda9bc.439bf8"],[]]},{"id":"ef6a0ef4.2003","type":"server-state-changed","z":"fab9f925.9f0598","name":"Finestra camera Aurora","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d0002a1b15f_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":360,"wires":[["fccda9bc.439bf8"],[]]},{"id":"eed41745.e9ec18","type":"server-state-changed","z":"fab9f925.9f0598","name":"Finestra Bagno","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d00035020b4_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":420,"wires":[["fccda9bc.439bf8"],[]]},{"id":"391d9872.0de4a8","type":"server-state-changed","z":"fab9f925.9f0598","name":"Porta camera grande","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d0002a1662b_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":480,"wires":[["fccda9bc.439bf8"],[]]},{"id":"6449c167.9c01b","type":"server-state-changed","z":"fab9f925.9f0598","name":"Camera grande finestra","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d0003242566_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":540,"wires":[["fccda9bc.439bf8"],[]]},{"id":"7acf824f.bd1c4c","type":"server-state-changed","z":"fab9f925.9f0598","name":"Porta soggiorno","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d0003240a5a_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":600,"wires":[["fccda9bc.439bf8"],[]]},{"id":"9d52b108.0ca83","type":"server-state-changed","z":"fab9f925.9f0598","name":"Finestra soggiorno","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d0002a1664b_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":660,"wires":[["fccda9bc.439bf8"],[]]},{"id":"c6267643.b04748","type":"server-state-changed","z":"fab9f925.9f0598","name":"Finestra cucina","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d000358377e_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":720,"wires":[["fccda9bc.439bf8"],[]]},{"id":"74b41c60.0d3904","type":"server-state-changed","z":"fab9f925.9f0598","name":"Porta Entrata","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d00035c6cc8_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":180,"wires":[["fccda9bc.439bf8"],[]]},{"id":"f230e281.5372b","type":"server-state-changed","z":"fab9f925.9f0598","name":"Porta Garage","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d00029b55a3_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":120,"wires":[["fccda9bc.439bf8"],[]]},{"id":"d0dd6eac.e2c8a","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"ALLARME Intrusione Porte o Finestre\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1920,"y":280,"wires":[["2291dbcb.91f174"]]},{"id":"fccda9bc.439bf8","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.allarme_totale_inserito","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":970,"y":340,"wires":[["3ef34a26.8842b6","c2c28c50.b97f6"],[]]},{"id":"3ef34a26.8842b6","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios_1","entityId":"","data":"{\"message\": \"request_location_update\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":280,"wires":[["e316e642.6db2a8"]]},{"id":"e316e642.6db2a8","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.allarme_totale_inserito","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1630,"y":340,"wires":[["d0dd6eac.e2c8a","52ba40f2.dd0d9","49f41957.5dcbb8","f6784c6e.8d28e"],[]]},{"id":"bdd9cac0.ba3708","type":"server-state-changed","z":"fab9f925.9f0598","name":"Presenza Scale","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d00032bd301_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":800,"wires":[["68483b0c.4da6a4"],[]]},{"id":"1f3e6484.c3902b","type":"server-state-changed","z":"fab9f925.9f0598","name":"Presenza Cucina","server":"33257e95.f185a2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d00032bd750_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":840,"wires":[["68483b0c.4da6a4"],[]]},{"id":"162c516a.81305f","type":"server-state-changed","z":"fab9f925.9f0598","name":"Presenza Piano Primo","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d00034d6705_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":880,"wires":[["68483b0c.4da6a4"],[]]},{"id":"fbbeebe5.5df618","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"ALLARME Intrusione Presenza\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1800,"y":700,"wires":[["ed6db6ce.5a5f78","7b0b7263.8cc5cc","892cc729.a1edb8"]]},{"id":"68483b0c.4da6a4","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.allarme_totale_inserito","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":850,"y":820,"wires":[["ab687071.926a8","c13eb323.c5f5b"],[]]},{"id":"ab687071.926a8","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"request_location_update\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":760,"wires":[["abc68ad2.217998"]]},{"id":"abc68ad2.217998","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.allarme_totale_inserito","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1510,"y":820,"wires":[["fbbeebe5.5df618"],["bd7ffd7d.4a078"]]},{"id":"db0555b7.7c5978","type":"delay","z":"fab9f925.9f0598","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2620,"y":820,"wires":[["f521af2.fdd475"]]},{"id":"3ba80e97.9c2b32","type":"delay","z":"fab9f925.9f0598","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2760,"y":320,"wires":[["7cf0f534.d1f6fc"]]},{"id":"ec73b219.d0bf1","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"Allarme Intrusione Porta o Finestra\",\"data\":{\"type\":\"announce\"},\"target\":[\"media_player.dappertutto\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2550,"y":320,"wires":[["3ba80e97.9c2b32"]]},{"id":"aa447bb.f47d788","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"Allarme Intrusione Sensori Presenza\",\"data\":{\"type\":\"announce\"},\"target\":[\"media_player.dappertutto\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2330,"y":800,"wires":[["db0555b7.7c5978"]]},{"id":"7cf0f534.d1f6fc","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.allarme_totale_inserito","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1930,"y":520,"wires":[["2291dbcb.91f174"],[]]},{"id":"f521af2.fdd475","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.allarme_totale_inserito","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":2010,"y":960,"wires":[["ed6db6ce.5a5f78"],[]]},{"id":"12a4f0c2.f9a8af","type":"server-state-changed","z":"fab9f925.9f0598","name":"Porta finestra ufficio","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d000256099c_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":1060,"wires":[["dd3833c.87bbdd"],[]]},{"id":"42e73cbe.e0c9a4","type":"server-state-changed","z":"fab9f925.9f0598","name":"Finestra camera Aurora","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d0002a1b15f_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":1120,"wires":[["dd3833c.87bbdd"],[]]},{"id":"4215ae25.6a7f2","type":"server-state-changed","z":"fab9f925.9f0598","name":"Finestra Bagno","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d00035020b4_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1180,"wires":[["dd3833c.87bbdd"],[]]},{"id":"ff6789ff.2ace88","type":"server-state-changed","z":"fab9f925.9f0598","name":"Porta camera grande","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d0002a1662b_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":1240,"wires":[["dd3833c.87bbdd"],[]]},{"id":"929c0e60.4a51f","type":"server-state-changed","z":"fab9f925.9f0598","name":"Camera grande finestra","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d0003242566_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":1300,"wires":[["dd3833c.87bbdd"],[]]},{"id":"28502df.fae23d2","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"ALLARME Intrusione Porte o Finestre\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":1080,"wires":[["6efc2b42.9146d4"]]},{"id":"dd3833c.87bbdd","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.allarme_sopra_inserito","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":1160,"wires":[["b944116c.6bea3","5478c251.1eeb3c"],[]]},{"id":"b944116c.6bea3","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"request_location_update\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1080,"wires":[["b0065609.733618"]]},{"id":"b0065609.733618","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.allarme_sopra_inserito","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1190,"y":1160,"wires":[["28502df.fae23d2","88da0cc4.31b4e"],[]]},{"id":"14237a3b.ae5026","type":"delay","z":"fab9f925.9f0598","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2280,"y":1160,"wires":[["6ff3bc21.1798c4"]]},{"id":"6b933fa0.00f03","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"Allarme Intrusione Piano Primo\",\"data\":{\"type\":\"announce\"},\"target\":[\"media_player.dappertutto\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2050,"y":1160,"wires":[["14237a3b.ae5026"]]},{"id":"6ff3bc21.1798c4","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.allarme_sopra_inserito","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":1340,"wires":[["6efc2b42.9146d4"],[]]},{"id":"78c354f9.cee77c","type":"server-state-changed","z":"fab9f925.9f0598","name":"Presenza Scale","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d00032bd301_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":1400,"wires":[["923f8d0a.8c9d1"],[]]},{"id":"923f8d0a.8c9d1","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.allarme_sopra_inserito","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":1400,"wires":[[]]},{"id":"c2c28c50.b97f6","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"request_location_update\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":400,"wires":[[]]},{"id":"c13eb323.c5f5b","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"request_location_update\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":880,"wires":[[]]},{"id":"bd7ffd7d.4a078","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"ALLARME Intrusione Presenza\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1800,"y":880,"wires":[[]]},{"id":"5478c251.1eeb3c","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"request_location_update\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":1240,"wires":[[]]},{"id":"88da0cc4.31b4e","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"ALLARME Intrusione Porte o Finestre\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":1200,"wires":[[]]},{"id":"c99d6c2a.b5fc2","type":"server-state-changed","z":"fab9f925.9f0598","name":"Tutti i dispositivi fuori casa","server":"33257e95.f185a2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.famiglia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":1820,"wires":[["66fd3850.0df328"],[]]},{"id":"66fd3850.0df328","type":"delay","z":"fab9f925.9f0598","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":1800,"wires":[["68b2560c.9b3dd8"]]},{"id":"25a6a316.679b0c","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.time_online","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":200,"y":1880,"wires":[["b3ae09e2.37b828"],[]]},{"id":"b3ae09e2.37b828","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.allarme_totale_inserito","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":1880,"wires":[["8c7496dd.523a08"]]},{"id":"9a8ec419.71bcb8","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"Allarme Inserito - Nessuno a casa\",\"data\":{\"type\":\"announce\"},\"target\":[\"media_player.dappertutto\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":1840,"wires":[["6788c49d.e8b2dc"]]},{"id":"6788c49d.e8b2dc","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"request_location_update\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":1880,"wires":[["60fe993c.90cfa8"]]},{"id":"60fe993c.90cfa8","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"request_location_update\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":160,"y":1980,"wires":[["bf86d78d.4ac078"]]},{"id":"5b3fb6b9.3891b8","type":"server-state-changed","z":"fab9f925.9f0598","name":"Tutti i dispositivi a casa","server":"33257e95.f185a2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.famiglia","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":2100,"wires":[["6f14371f.953e48"],[]]},{"id":"625678.4665a988","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.allarme_totale_inserito","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":2080,"wires":[["c2eaf66c.62fca8"]]},{"id":"f673d35a.65c8a","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"Allarme disInserito\",\"data\":{\"type\":\"announce\"},\"target\":[\"media_player.dappertutto\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":150,"y":2160,"wires":[["dc2bb854.9860d8"]]},{"id":"dc2bb854.9860d8","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"ALLARME disinserito\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":2140,"wires":[["dabda7c1.461b18"]]},{"id":"dabda7c1.461b18","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"ALLARME disinserito\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":2140,"wires":[["ccce11c3.5d5ac"]]},{"id":"bf86d78d.4ac078","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"ALLARME inserito - Nessuno a casa\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":500,"y":1980,"wires":[["4b7ea85d.405698"]]},{"id":"4b7ea85d.405698","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"ALLARME inserito - Nessuno a casa\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":1980,"wires":[["55ff308.04ef7d"]]},{"id":"c2eaf66c.62fca8","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.time_online","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1260,"y":2080,"wires":[["43038eab.764d2"],[]]},{"id":"71abaff1.0dbec","type":"server-state-changed","z":"fab9f925.9f0598","name":"Finestra soggiorno","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d0002a1664b_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":1520,"wires":[["e231232.98ce4e"],[]]},{"id":"3e9ffb1c.7f5674","type":"server-state-changed","z":"fab9f925.9f0598","name":"Porta soggiorno","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d0003240a5a_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1560,"wires":[["e231232.98ce4e"],[]]},{"id":"8a8fdd8b.ecce","type":"server-state-changed","z":"fab9f925.9f0598","name":"Finestra cucina","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d000358377e_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1600,"wires":[["e231232.98ce4e"],[]]},{"id":"9c7fbc51.43021","type":"server-state-changed","z":"fab9f925.9f0598","name":"Presenza Cucina","server":"33257e95.f185a2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d00032bd750_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1640,"wires":[["e231232.98ce4e"],[]]},{"id":"e231232.98ce4e","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.allarme_sotto_inserito","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":1580,"wires":[["a893ee75.f57e8","d5a0aee6.4a62f"],[]]},{"id":"a893ee75.f57e8","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"ALLARME piano terra\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":1520,"wires":[["66f1b34c.f0b06c"]]},{"id":"d5a0aee6.4a62f","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"ALLARME piano terra\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":1640,"wires":[[]]},{"id":"157aacd1.7e2b23","type":"delay","z":"fab9f925.9f0598","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1940,"y":1520,"wires":[["84ea03ef.3d615"]]},{"id":"66f1b34c.f0b06c","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"Allarme Intrusione Piano Terra\",\"data\":{\"type\":\"announce\"},\"target\":[\"media_player.dappertutto\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1730,"y":1520,"wires":[["157aacd1.7e2b23"]]},{"id":"84ea03ef.3d615","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.allarme_sotto_inserito","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1810,"y":1660,"wires":[["66f1b34c.f0b06c"],[]]},{"id":"8c7496dd.523a08","type":"time-range-switch","z":"fab9f925.9f0598","name":"","lat":"45.67284","lon":"12.17947","startTime":"9:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":790,"y":1880,"wires":[["9a8ec419.71bcb8"],["6788c49d.e8b2dc"]]},{"id":"7d0626eb.b46938","type":"time-range-switch","z":"fab9f925.9f0598","name":"","lat":"45.67284","lon":"12.17947","startTime":"9:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":130,"y":2260,"wires":[["f673d35a.65c8a"],["dc2bb854.9860d8"]]},{"id":"9d9048da.277048","type":"server-state-changed","z":"fab9f925.9f0598","name":"Presenza Piano Primo","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d00034d6705_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":1000,"wires":[["dd3833c.87bbdd"],[]]},{"id":"6f14371f.953e48","type":"delay","z":"fab9f925.9f0598","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":2080,"wires":[["a8dfceb5.0eb08"]]},{"id":"a8dfceb5.0eb08","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.famiglia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":600,"y":2080,"wires":[["625678.4665a988"],[]]},{"id":"2291dbcb.91f174","type":"api-call-service","z":"fab9f925.9f0598","name":"volume 0.9","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.echo_show_di_alessia","data":"{\"volume_level\": \"0.9\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2210,"y":320,"wires":[["5c079444.fec5dc"]]},{"id":"ed6db6ce.5a5f78","type":"api-call-service","z":"fab9f925.9f0598","name":"volume 0.9","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.echo_show_di_alessia","data":"{\"volume_level\": \"0.9\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2050,"y":800,"wires":[["aa447bb.f47d788"]]},{"id":"6efc2b42.9146d4","type":"api-call-service","z":"fab9f925.9f0598","name":"volume 0.9","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.echo_show_di_alessia","data":"{\"volume_level\": \"0.9\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1830,"y":1160,"wires":[["6b933fa0.00f03"]]},{"id":"74dd09ef.24ce58","type":"api-call-service","z":"fab9f925.9f0598","name":"volume 0.9","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.echo_show_di_alessia","data":"{\"volume_level\": \"0.9\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":1520,"wires":[[]]},{"id":"6a6a52e1.2c902c","type":"server-state-changed","z":"fab9f925.9f0598","name":"Porta Entrata","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d00035c6cc8_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1680,"wires":[["e231232.98ce4e"],[]]},{"id":"88cde52d.6c94d8","type":"server-state-changed","z":"fab9f925.9f0598","name":"Porta Garage","server":"33257e95.f185a2","version":1,"entityidfilter":"binary_sensor.0x00158d00029b55a3_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1720,"wires":[["e231232.98ce4e"],[]]},{"id":"49f41957.5dcbb8","type":"delay","z":"fab9f925.9f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2080,"y":120,"wires":[["4ed1e9f4.6bd678"]]},{"id":"f6784c6e.8d28e","type":"api-call-service","z":"fab9f925.9f0598","name":"Notifica attivazione sirena ios1","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"ATTIVAZIONE SIRENA TRA UN MINUTO\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1750,"y":20,"wires":[["d7ed3cd0.ea7ee"]]},{"id":"d7ed3cd0.ea7ee","type":"api-call-service","z":"fab9f925.9f0598","name":"Notifica attivazione sirena ios2","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"ATTIVAZIONE SIRENA TRA UN MINUTO\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2050,"y":20,"wires":[["eb0b723d.abcfc"]]},{"id":"a9c7f110.fb5ab","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"ATTENZIONE SIRENA IN ATTIVAZIONE. \",\"data\":{\"type\":\"announce\"},\"target\":[\"media_player.dappertutto\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2490,"y":20,"wires":[[]]},{"id":"5c079444.fec5dc","type":"delay","z":"fab9f925.9f0598","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2360,"y":320,"wires":[["ec73b219.d0bf1"]]},{"id":"eb0b723d.abcfc","type":"api-call-service","z":"fab9f925.9f0598","name":"volume 0.9","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.dappertutto","data":"{\"volume_level\": \"0.9\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2290,"y":20,"wires":[["a9c7f110.fb5ab"]]},{"id":"4ed1e9f4.6bd678","type":"api-call-service","z":"fab9f925.9f0598","name":"SIRENA ATTIVA","server":"33257e95.f185a2","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.sirena","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2270,"y":120,"wires":[[]]},{"id":"694bc199.b8c59","type":"server-state-changed","z":"fab9f925.9f0598","name":"Disattiva sirena - allarme sotto","server":"33257e95.f185a2","version":1,"entityidfilter":"input_boolean.allarme_sotto_inserito","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":160,"y":2360,"wires":[["58b04ba9.3a6bf4"],[]]},{"id":"158b3065.0c8c8","type":"server-state-changed","z":"fab9f925.9f0598","name":"Disattiva sirena - allarme sopra","server":"33257e95.f185a2","version":1,"entityidfilter":"input_boolean.allarme_sopra_inserito","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":2420,"wires":[["58b04ba9.3a6bf4"],[]]},{"id":"e350ce6.dd51e3","type":"server-state-changed","z":"fab9f925.9f0598","name":"Disattiva sirena - allarme totale","server":"33257e95.f185a2","version":1,"entityidfilter":"input_boolean.allarme_totale_inserito","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":170,"y":2480,"wires":[["58b04ba9.3a6bf4"],[]]},{"id":"82cc8f33.62b04","type":"api-call-service","z":"fab9f925.9f0598","name":"SPEGNI SIRENA","server":"33257e95.f185a2","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.sirena","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":2300,"wires":[["de1d3c08.e50e3"]]},{"id":"58b04ba9.3a6bf4","type":"api-current-state","z":"fab9f925.9f0598","name":"Sirena ON?","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.sirena","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":2400,"wires":[["82cc8f33.62b04"],["67df7fe7.b0791"]]},{"id":"de1d3c08.e50e3","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"Sirena Spenta\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1040,"y":2300,"wires":[["c3a4788a.4ef418"]]},{"id":"c3a4788a.4ef418","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"Sirena Spenta\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1320,"y":2300,"wires":[[]]},{"id":"892cc729.a1edb8","type":"delay","z":"fab9f925.9f0598","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2080,"y":660,"wires":[["21971b74.374a94"]]},{"id":"7b0b7263.8cc5cc","type":"api-call-service","z":"fab9f925.9f0598","name":"Notifica attivazione sirena ios1","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"ATTIVAZIONE SIRENA TRA UN MINUTO\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2150,"y":600,"wires":[["e6525629.04e278"]]},{"id":"e6525629.04e278","type":"api-call-service","z":"fab9f925.9f0598","name":"Notifica attivazione sirena 2","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios2","entityId":"","data":"{\"message\": \"ATTIVAZIONE SIRENA TRA UN MINUTO\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2440,"y":600,"wires":[["b5c402fd.1c64d"]]},{"id":"2dff2562.1ea04a","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"message\":\"ATTENZIONE SIRENA IN ATTIVAZIONE. \",\"data\":{\"type\":\"announce\"},\"target\":[\"media_player.dappertutto\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2890,"y":600,"wires":[[]]},{"id":"b5c402fd.1c64d","type":"api-call-service","z":"fab9f925.9f0598","name":"volume 0.9","server":"33257e95.f185a2","version":1,"debugenabled":false,"service_domain":"media_player","service":"volume_set","entityId":"media_player.echo_show_di_alessia","data":"{\"volume_level\": \"0.9\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2670,"y":600,"wires":[["2dff2562.1ea04a"]]},{"id":"21971b74.374a94","type":"api-call-service","z":"fab9f925.9f0598","name":"SIRENA ATTIVA","server":"33257e95.f185a2","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.sirena","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2260,"y":660,"wires":[[]]},{"id":"67df7fe7.b0791","type":"api-call-service","z":"fab9f925.9f0598","name":"SPEGNI SIRENA","server":"","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.sirena","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":2420,"wires":[[]]},{"id":"15cbdea7.f16631","type":"switch","z":"fab9f925.9f0598","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"vibration","vt":"str"},{"t":"eq","v":"drop","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":2620,"wires":[["60258f1c.379f3"],["e34d32.c5b2f2d"]]},{"id":"f825c514.6a94e8","type":"trigger-state","z":"fab9f925.9f0598","name":"sensore_vibrazione_cassaforte","server":"33257e95.f185a2","entityid":"sensor.0x00158d0003133f6c_action","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":2620,"wires":[["15cbdea7.f16631"],[]]},{"id":"60258f1c.379f3","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"Vibration\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":2540,"wires":[[]]},{"id":"e34d32.c5b2f2d","type":"api-call-service","z":"fab9f925.9f0598","name":"","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"ios1","entityId":"","data":"{\"message\": \"Drop\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":2700,"wires":[[]]},{"id":"16bc60ed.de68df","type":"api-current-state","z":"fab9f925.9f0598","name":"Nonna a casa","server":"","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.iphone_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":920,"y":1780,"wires":[[],["25a6a316.679b0c"]]},{"id":"43038eab.764d2","type":"api-current-state","z":"fab9f925.9f0598","name":"Nonna a casa","server":"","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.iphone_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":2240,"wires":[[],["7d0626eb.b46938"]]},{"id":"aa50ee00.3401f","type":"server-state-changed","z":"fab9f925.9f0598","name":"Nonna fuori casa","server":"33257e95.f185a2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.iphone_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":1780,"wires":[["66fd3850.0df328"],[]]},{"id":"870bfedd.2ac61","type":"server-state-changed","z":"fab9f925.9f0598","name":"Nonna a casa","server":"","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.iphone_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":2040,"wires":[["6f14371f.953e48"],[]]},{"id":"ccce11c3.5d5ac","type":"api-current-state","z":"fab9f925.9f0598","name":"Nonna arrivata per prima","server":"","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.nonna_arrivo_prima","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1110,"y":2180,"wires":[["4a148604.588508"],[]]},{"id":"4a148604.588508","type":"api-call-service","z":"fab9f925.9f0598","name":"Notifica Michela","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"nonna","entityId":"","data":"{\"message\": \"ALLARME disinserito \"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1360,"y":2180,"wires":[[]]},{"id":"55ff308.04ef7d","type":"api-current-state","z":"fab9f925.9f0598","name":"Nonna uscita per ultima","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.nonna_ultima","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1150,"y":1980,"wires":[["9f1eafa1.0cdb5"],[]]},{"id":"9f1eafa1.0cdb5","type":"api-call-service","z":"fab9f925.9f0598","name":"Notifica Nonna","server":"","version":1,"debugenabled":false,"service_domain":"notify","service":"nonna","entityId":"","data":"{\"message\": \"ALLARME Inserito\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":1980,"wires":[[]]},{"id":"f1ad36d7.e6a1a8","type":"inject","z":"fab9f925.9f0598","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":1720,"wires":[["68b2560c.9b3dd8"]]},{"id":"68b2560c.9b3dd8","type":"api-current-state","z":"fab9f925.9f0598","name":"","server":"33257e95.f185a2","version":1,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.famiglia","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":660,"y":1780,"wires":[["16bc60ed.de68df"],[]]},{"id":"a6336a7e.b258f8","type":"server-state-changed","z":"fab9f925.9f0598","name":"Presenza Soggiorno","server":"33257e95.f185a2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d0003cea3c5_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":1480,"wires":[["e231232.98ce4e"],[]]},{"id":"9ce64ea5.31452","type":"server-state-changed","z":"fab9f925.9f0598","name":"Presenza Soggiorno","server":"33257e95.f185a2","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d0003cea3c5_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":940,"wires":[["68483b0c.4da6a4"],[]]}]